<!-- Header Start -->
<div class="renewal2021">
    <div class="upper">
        <ul class="link_crfix">
            <li class="item">기업뱅킹</li>
            <li class="item">하나카드</li>
            <li class="item">은행소개</li>
            <li class="item">채용안내</li>
        </ul>

        <ul class="link_crfix" id="upper_link">
            <li class="item"><a href="#">회원가입</a></li>
            <li class="item"><a href="./login.html">로그인</a></li>
        </ul>
    </div>

    <div class="menu">
        <a href="../index.html">
            <img src="./img/logo.png" style="width:357px; height: 70px;">
        </a>

        <div class="main_menu">
            <button class="menu-button">카드</button>
            <button class="menu-button">여행</button>
            <button class="menu-button">환율</button>
            <button class="menu-button">미정</button>
            <button class="menu-button">미정</button>
            <button class="menu-button">미정</button>
        </div>
        <div class="side_menu">
            <button class="search"><span class="search_add"></span></button>
            <button class="allmenu"><span class="allmenu_add"></span></button>
        </div>
    </div>
</div>
<div class="divide_line"></div>
<!-- Header End -->